<div class="client-container col-12" id="table">
  <div class="filter-add-section">
    <div class="form-group col-md-4">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        [(ngModel)]="searchedText"
      />
    </div>
    <div>
      <button type="button" pButton class="p-button">Add</button>
    </div>
  </div>
  <table class="table table-striped container-fluid col-12">
    <thead>
      <tr>
        <th>FirstName</th>
        <th>Age</th>
        <th>Phone Number</th>
        <th>Loction</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of clients | filter: searchedText">
        <td>{{ item.name }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.phonenumber }}</td>
        <td>{{ item.location }}</td>
        <button style="background: #0d6efd; color: white">details</button>
      </tr>
    </tbody>
  </table>
</div>
