<div class="client-container col-12" id="table">
  <div class="filter-add-section">
    <div class="col-md-12">
      <button type="button" pButton class="p-button" (click)="open(dialog)">
        Add Client
      </button>
    </div>
  </div>
  <table class="table table-striped container-fluid col-12">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients | filter: searchedText">
        <td>{{ client.name }}</td>
        <td>{{ client.age }}</td>
        <td>{{ client.phoneNumber }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.location }}</td>
        <td class="actions-icons">
          <i
            class="bi bi-pencil-fill"
            style="cursor: pointer"
            (click)="openEditModal(dialog, client)"
          ></i>
          <i
            class="bi bi-trash-fill"
            style="cursor: pointer"
            (click)="deleteRecord(client.id)"
          ></i>
          <button pButton class="p-button" (click)="openDetails(client.id)">
            Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Form modal to add patient details-->
  <ng-template id="dialog" #dialog let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ recordId ? "Edit Patient details" : "Add Patient details" }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="clientForm">
        <div class="col-md-12">
          <div class="card-body text-black">
            <div class="col-md-12 mb-4">
              <div class="form-outline">
                <label class="form-label" for="name">Name</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="name"
                  formControlName="name"
                />
              </div>
            </div>

            <div class="col-md-12 mb-4">
              <label class="form-label" for="location">Address</label>
              <div class="form-outline">
                <input
                  type="text"
                  id="location"
                  class="form-control form-control-lg"
                  formControlName="location"
                />
              </div>
            </div>

            <div
              class="col-md-12 d-md-flex justify-content-start align-items-center mb-4"
            >
              <h6 class="mb-0 me-4">Gender:</h6>
              <div class="form-check form-check-inline mb-0 me-4">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="gender"
                  id="femaleGender"
                  value="Female"
                />
                <label class="form-check-label" for="femaleGender"
                  >Female</label
                >
              </div>

              <div class="form-check form-check-inline mb-0 me-4">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="gender"
                  id="maleGender"
                  value="Male"
                />
                <label class="form-check-label" for="maleGender">Male</label>
              </div>

              <div class="form-check form-check-inline mb-0 me-4">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="gender"
                  id="otherGender"
                  value="Other"
                />
                <label class="form-check-label" for="otherGender">Other</label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-4">
                <label class="form-label" for="dob">DOB</label>
                <input
                  id="dob"
                  type="date"
                  class="form-control form-control-lg"
                  formControlName="dob"
                />
              </div>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="email">Email ID</label>
              <input
                type="email"
                id="email"
                class="form-control form-control-lg"
                formControlName="email"
              />
              <p
                *ngIf="
                  clientFormControl?.email?.invalid &&
                  clientFormControl.email.touched
                "
                class="validation-msg"
              >
                Invalid email. Please make sure you type the proper information
              </p>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="phoneNumber">Contact Number</label>
              <input
                type="number"
                id="phoneNumber"
                class="form-control form-control-lg"
                formControlName="phoneNumber"
              />
              <p
                *ngIf="
                  clientFormControl?.phoneNumber?.invalid &&
                  clientFormControl.phoneNumber.touched
                "
                class="validation-msg"
              >
                Invalid phone number. Please make sure you type the proper
                information
              </p>
            </div>

            <div class="d-flex justify-content-end pt-3">
              <button
                type="button"
                class="btn btn-light btn-lg"
                (click)="resetDetails()"
              >
                Reset all
              </button>
              <button
                type="button"
                (click)="submitDetails(); modal.dismiss('Cross click')"
                [ngClass]="
                  clientForm.valid
                    ? 'submit-button btn-lg ms-2'
                    : 'submit-button-invalid'
                "
                [disabled]="!clientForm.valid"
              >
                Submit form
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>
