<div class="cards" id="dashboard">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Total Patients</h4>
      <h1 class="card-text">{{totalClients}}</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Today's Total Patients</h4>
      <h1>
        <h1 class="card-text">{{totalTodaysClients}}</h1>
      </h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Top diseases</h4>
      <h1>
        <h1 class="card-text">{{totalTopDiseases}}</h1>
      </h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Today's Top diseases</h4>
      <h1>
        <h1 class="card-text">{{totalTodaysTopDiseases}}</h1>
      </h1>
    </div>
  </div>
</div>
