<div class="cards" id="dashboard">
  <div class="card">
    <div class="card-body" style="background-color: #dee4ff">
      <h4 class="card-title">Total Patients</h4>
      <h1 class="card-text">8</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body" style="background-color: #dee4ff">
      <h4 class="card-title">Today's Total Patients</h4>
      <h1>
        <h1 class="card-text">8</h1>
      </h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body" style="background-color: #dee4ff">
      <h4 class="card-title">Top diseases</h4>
      <h1>
        <h1 class="card-text">8</h1>
      </h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body" style="background-color: #dee4ff">
      <h4 class="card-title">Today's Top diseases</h4>
      <h1>
        <h1 class="card-text">8</h1>
      </h1>
    </div>
  </div>
</div>
