<div class="dashboard">
  <div class="cards" id="dashboard">
    <div class="card col-xxl-4 col-md-6">
      <div class="card-body">
        <h5 class="card-title">Total Patients</h5>
        <h6 class="card-text">{{ totalClients }}</h6>
      </div>
    </div>
    <div class="card col-xxl-4 col-md-6">
      <div class="card-body">
        <h5 class="card-title">Today's Total Patients</h5>
        <h6 class="card-text">{{ totalTodaysClients }}</h6>
      </div>
    </div>
    <div class="card col-xxl-4 col-md-6">
      <div class="card-body">
        <h5 class="card-title">Top diseases</h5>
        <h6 class="card-text">{{ totalTopDiseases }}</h6>
      </div>
    </div>
    <div class="card col-xxl-4 col-md-6">
      <div class="card-body">
        <h5 class="card-title">Today's Top diseases</h5>
        <h6 class="card-text">{{ totalTodaysTopDiseases }}</h6>
      </div>
    </div>
  </div>
</div>