.header {
  height: 50px;
  background-color: #eef0f4;
}

.sidebar-icon-left {
  margin-left: 0.5rem;
  margin-top: -25px;
  color: #1d4e87;
  cursor: pointer;
}

.sidebar-icon {
  margin-left: 17rem;
  margin-top: -25px;
  color: #1d4e87;
  cursor: pointer;
}
