<div class="consulting-details">
    <h4>{{ "global.consulting" | translate }} Information</h4>
    <div class="col-md-6" style="display: flex; justify-content: space-between;">
      <p><b>Date:</b> {{consulting.date}}</p>
      <p><b>Illness:</b> {{consulting.illness}}</p>
    </div>
    <div class="col-md-6" style="display: flex; justify-content: space-between;">
      <p><b>Prescription:</b> {{consulting.prescription}}</p>
    </div>
    <p><b>Description:</b> {{consulting.description}}</p>
  </div>
  