.consulting-details {
    margin-top: 2%;
    padding: 15px;
    h4 {
        color: #1d4e87;
        margin-bottom: 25px;
    }
    .p-button {
        color: #fff;
        background: #bfc0c7;
        border: 1px solid #bfc0c7;
    }
}