<div class="consulting-container col-12" id="table">
    <div class="filter-add-section">
      <div class="form-group col-md-4">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchedText"
        />
      </div>
      <div>
        <button type="button" pButton class="p-button" (click)="open(content)">Add</button>
      </div>
    </div>
    <table class="table table-striped container-fluid col-12">
      <thead>
        <tr>
          <th>Date</th>
          <th>Illness</th>
          <th>Prescription</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of consultings | filter: searchedText">
          <td>{{ item.date }}</td>
          <td>{{ item.illness }}</td>
          <td>{{ item.prescription }}</td>
          <td>
            <button pButton class="p-button" (click)="openDetails(item.id)">
              Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Form modal to add consulting details-->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Consulting details</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="consultingForm">
          <div class="col-md-12">
            <div class="card-body text-black">
  
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label class="form-label">Date</label>
                  <input type="date" class="form-control form-control-lg" formControlName="date" />
                </div>
              </div>

              <div class="col-md-12 mb-4">
                <label class="form-label" for="form3Example8">Illness</label>
                <div class="form-outline">
                  <input
                    type="text"
                    id="form3Example8"
                    class="form-control form-control-lg"
                    formControlName="illness"
                  />
                </div>
              </div>

              <div class="col-md-12 mb-4">
                <div class="form-outline">
                  <label class="form-label">Prescription</label>
                  <input type="text" class="form-control form-control-lg" formControlName="prescription" />
                </div>
            </div>
  
              <div class="d-flex justify-content-end pt-3">
                <button type="button" class="btn btn-light btn-lg" (click)="resetDetails()">
                  Reset all
                </button>
                <button type="button" (click)="submitDetails(); modal.dismiss('Cross click')" class="submit-button btn-lg ms-2"
                  [disabled]="!consultingForm.valid">
                  Submit form
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
  