.consulting-container {
    margin-top: 2%;
    padding: 15px;
    .filter-add-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1%;
        .form-control {
            width: 50%;
        }
    }
    .p-button {
        color: #fff;
        background: #bfc0c7;
        border: 1px solid #bfc0c7;
    }
    .actions-icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #bfc0c7;
    }
}
.submit-button {
    color: #fff;
    background: #1d4e87;
    border: none;
    border-radius: 5px;
}